@model DesafioFull.Models.Titulos

@{
    ViewData["Title"] = "Delete";
}


<h3>Certeza que deseja deletar esse titulo  ?</h3>
<div>
    <h4>Titulo selecionado  <span style="color:red;"> @Html.DisplayFor(model => model.NumeroTitulo)</span></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero Titulo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroTitulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>
        <dt>
           Quantia de Parcelas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NParcela)
        </dd>
        <dt>
            Data Vencimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ValorParc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorParc)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <a asp-action="Index"><i class="fas fa-arrow-left fa-2x" style=" margin-bottom: -4px; margin-left: 15px; color: #1b1bbdcc;"></i></a>
    </form>
</div>
