@model DesafioFull.Models.Titulos

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes do Titulo   @Html.DisplayFor(model => model.NumeroTitulo)</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numero Titulo
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumeroTitulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Juros)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Juros)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Multa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Multa)
        </dd>
        <dt>
           Numero de Parcelas
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NParcela)
        </dd>
        <dt>
          Data vencimento
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataVencimento)
        </dd>
        <dt>
           Valor Total
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ValorParc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a> |
    <a asp-action="Index"><i class="fas fa-arrow-left fa-2x" style=" margin-bottom: -4px; margin-left: 15px; color: #1b1bbdcc;"></i></a>
</div>
