@model IEnumerable<DesafioFull.Models.Titulos>

@{
    ViewData["Title"] = "Index";
}

<h2>Lista de Titulos</h2>

<p>
    <a asp-action="Create" type="button" class="btn btn-info">Adicionar Titulo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Numero Titulo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Juros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Multa)
            </th>
            <th>
                Qtd. Parcelas
            </th>
            <th>
                Vecimento Parcelas
            </th>
            <th>
                Valor Total
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroTitulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Juros)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Multa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NParcela)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVencimento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValorParc)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit" style="color: #ffb258;" ></i></a> |
                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-minus-circle" style="color: red;"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
